---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>This paragraph is using the recent CSS feature <i>text-wrap: balance</i>. The browser searches for the smallest width that does not cause additional lines, stopping at one CSS pixel.</h1>