body {
    background: #386641;
}

h1 {
    color: #ffffff;
    text-wrap: balance;
    text-align: center;
    font-size: 50px;
    margin-top: 250px;
}

.corner-header {
    color: #ffffff;
    font-size: 10px;
}